* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: 'Passion One', cursive;
	font-size: 2em;
}

body:after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../image/burger_background.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	width: 100%;
	min-height: 100vh;
	opacity : 0.3;
	z-index: -1;
}

h1 {
	color: green;
	font-size: 2em !important;
}

#page-name {
	text-align: center;
	margin: 30px 0;
}

#main-image {
	height: 150px;
}

.col-left {
	padding-left: 20%;
}

.col-right {
	text-align: left;
}

.table-first-col {
	width: 270px;
}

td {
    height: 50px;
    vertical-align: center;
}

.create-form {
	margin-top: 50px;
	text-align: center;
}<div class="container">
    <section id="page-name">
            <iframe id="main-image" src="https://giphy.com/embed/UAXou95E6oPjW" width="480" height="326" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h1>Eat-Da-Buger</h1>
    </section>

    <section class="row">
        <div class="col-md-7 col-left">
            <table>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block}}
                    {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-md-5 col-right">
            {{#each burgers}}
                {{#if devoured}}
                    <div>{{id}}. {{burger_name}}</div>
                {{/if}}
            {{/each}}        
        </div>          
    </section>

    <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="What do you want to eat?"></textarea>
        </div>
        <button type="submit">Add Burger</button>
    </form>     
</div>var express = require("express");
var bodyParser = require("body-parser");

var port = process.env.PORT || 3000;

var app = express();

// Serve static content for the app from the "public" directory in the application directory.
app.use(express.static("public"));

app.use(bodyParser.urlencoded({ extended: false }));

// Set Handlebars.
var exphbs = require("express-handlebars");

app.engine("handlebars", exphbs({ defaultLayout: "main" }));
app.set("view engine", "handlebars");

// Import routes and give the server access to them.
var routes = require("./controllers/burgers_controller.js");

app.use("/", routes);

app.listen(port);